/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

/* HEADER */
header {
    background-color:lightblue;
    align-items: center;
    height: 60px;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.logo {
    background-color: orange;
    padding: 8px;
    width: 25%;
    border: 2px black dashed;
}

.navigatore {
    background-color: orange;
    width: 50%;
    border: 2px black dashed;
    padding: 8px;
}

.navigatore li{
    list-style-type: none;
}

.navigatore ul.flex{
    justify-content: center;
    gap: 10px;
}

.login {
    background-color: orange;
    width: 25%;
    border: 2px black dashed;
    padding: 8px;
    text-align: right;
}

/* MAIN */

/* PARTE ALTA */
.sfondo-blu {
    align-items: center;
    height: 300px;
    background-color: blue;
}

.blocco-main {
    width: 80%;
    margin: 0 auto;
    height: 250px;
    border: 2px black dashed;
    background-color: rgb(255, 140, 230);
}
/* END PARTE ALTA */

/* CORPO */
.row > .container {
    align-items: center;
    height: 300px;
}

.row-2 > .container {
    align-items: center;
    height: 300px;
}

.last-row > .container {
    align-items: center;
    height: 800px;
}
.row {
    height: 300px;
}

.row-2 {
    height: 300px;
    background-color: grey;
}

.last-row {
    height: 800px;
    background-color: grey;
}

.blocco-cielo {
    width: 60%;
    height: 250px;
    border: 2px black dashed;
    background-color: rgb(117, 181, 255);
}

.blocco-rosa {
    width: 40%;
    height: 250px;
    border: 2px black dashed;
    background-color: pink;
}

.blocco-verde {
    width: 100%;
    height: 750px;
    border: 2px black dashed;
    background-color: green;
}

/* FOOTER */
footer {
    background-color: rgb(8, 23, 27);
}

.footer-row {
    padding: 10px 0 15px;
    height: 400px;
}

.footer-row-bottoni {
    padding: 10px 0 0 0;
}

.blocco-grande-footer {
    height: 350px;
    width: calc((100% / 6) * 2);
    background-color: rgb(255, 140, 230);
    border: 2px black dashed;
}

.blocco-piccolo-footer {
    height: 350px;
    width: calc(100% / 6);
    background-color: rgb(99, 159, 173);
    border: 2px black dashed;
}

hr {
    color: white;
}

.footer-row-bottoni > .container {
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.bottoni {
    background-color: rgb(255, 140, 230);
    border: 1px black dashed;
}

.box {
    background-color: aquamarine;
}